<div class="container mt-3">
  <div class="card p-5 mt-4 mx-auto w-50 h-100">
    <h3 class="text-center">LOGIN</h3>
    <p class="text-center text-secondary">Masuk ke akun anda untuk pengalaman yang lebih baik!</p>
    <%= form_tag sessions_path do  %>
      <div class="form-group">
        <%= label_tag :username %>
        <%= text_field_tag :username, (params[:username] unless params[:username].blank?), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, (params[:password] unless params[:password].blank?), class: 'form-control' %>
      </div>
      <div class="row mt-3">
        <%= submit_tag :submit, class: 'btn btn-primary' %>
        <p class="ml-3 text-muted">Belum punya akun? <%= link_to "Sign-Up", sign_up_path, class: 'text-primary' %></p>
      </div>
    <% end %>
  </div>
</div>
